body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(47,49,55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#searchInput{
  width:44vw;
  background-color: rgb(47,49,55);
  border-radius:5px;
  font-size: 1.5vh;
  color:white;
  outline:none;
}
#introTable{
  border: 1px solid red;
  display: inline-block;
  text-align: right;
  position: absolute;
  right:0%;
  color: white;
}

#pfp{
  width: 25px;
  /* border: 1px solid yellow; */
}
#intro{
  /* border: 1px solid mediumaquamarine; */
  font-size: 30px;
  display: inline;
  padding: 10px;
}

#spanIntro{
  border: 1px solid red;
  padding: 0%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
  position: absolute;
  right:0%;
  padding-right: 8px;
  padding-top: 8px;
  /* border: 1px solid orange; */
}

.dropdown-content {
  display: none;
  position: absolute;
  left:15%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}






#searchBar{
  border: 1px solid salmon;
}

#searchButton{
  font-weight:bold;
  font-size: 60%;
  width:6vw;
  height:3vh;
  background-color:rgb(47,49,55);
  color:white;
  border-color:white;
  border-width: 1px;
  border-radius: 4px;
}
#searchButton:hover{
    box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(244, 244, 244, 0.902);
    background-color: white;
    border: white 0.001em solid;
    color: rgb(47,49,55);
    border-radius: 5px;
}

#inputForm{
  position: relative;
  /* top:5vh; */
  left:25vw;
  width:55vw;
}

#tweetInput {
  width: 44vw;
  height:10vw;
  color: white;
  background-color: rgb(47,49,55);
  /* border:white 0.1em solid; */
  border-radius: 5px;
  outline:none;
  font-size:1.6vh;
}

#tweetButton{
  font-weight:bold;
  font-size:60%;
  width: 6vw;
  height: 3vh;
  background-color: rgb(47,49,55);
  border: white 0.001em solid;
  color: white;
  border-radius: 5px;
}
#tweetButton:hover{
  box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(244, 244, 244, 0.902);
  background-color: white;
  border: white 0.001em solid;
  color: rgb(47,49,55);
  border-radius: 5px;
}

#buttonLikes{
  position: relative;
  left:25vw;
  top: 7vh;
  width: 15vw;
  height:3vh;
  font-weight: bold;
  background-color:rgb(47,49,55);
  border: white 0.001em solid;
  color: white;
  border-radius: 5px;
}
#buttonLikes:hover{
  box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(244, 244, 244, 0.902);
  background-color: rgb(165, 234, 253);
  border: white 0.001em solid;
  color: rgb(47,49,55);
  border-radius: 5px;
}
#buttonLikes:focus{
  box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(236, 249, 237, 0.902);
  background-color: rgb(55, 115, 198);
}

#buttonTime{
  color:white;
  position: relative;
  left:45vw;
  top: 7vh;
  width: 15vw;
  height:3vh;
  font-weight: bold;
  background-color:rgb(47,49,55);
  border: white 0.001em solid;
  border-radius: 5px;
}

#buttonTime:hover{
  box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(244, 244, 244, 0.902);
  background-color: rgb(165, 234, 253);
  border: white 0.001em solid;
  border-radius: 5px;
}

#buttonTime:focus{
  box-shadow: 0 12px 16px 0 rgba(47,49,55), 0 5px 5px 0 rgba(236, 249, 237, 0.902);
  background-color: rgb(55, 115, 198);
}

#messageTable{
  font-size: small;
  color:antiquewhite;  
  position:relative;
  top: 8vh;
  left:25vw;
  align-items: center;
  border-color: white;
  border-width: 0.001em;
  border-style: solid solid solid solid;
  width:50vw;
  border-collapse: collapse;
}
#commentForm{
  background-color: rgb(59, 61, 68);
  border-radius: 5px;
  width: 20vw;
  height:5vw;
  color: white;
  outline:none;
  font-size:1.6vh;
}

tr{
  border-color: white;
  border-width: 0.01em;
  border-style: solid solid solid solid;
}

#like-button{
  background-color: transparent;
  border: none;
}

#like-button:hover{
  background-color: white;
  border: none;
}

#like-icon{
  padding:0%;
}

#votingData{
  text-align: right;
  margin: none;
}

#link{
  text-decoration: none;
  position:relative;
  left: 85vw;
  color:rgb(223, 25, 25);
}
#link:hover{
  color:rgb(132, 19, 19);
}
#link:active{
  color:rgb(21, 86, 252);
}

#username{
  cursor: pointer;
  color: aqua;
}

#username:hover {
  color: orange;
}