body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(47,49,55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#inputForm{
  position: relative;
  top:5vh;
  left:25vw;
  width:55vw;
}

#tweetInput {
  width: 44vw;
  height:10vw;
  color: white;
  background-color: rgb(47,49,55);
  /* border:white 0.1em solid; */
  border:none;
  outline:none;
}

#tweetButton{
  width: 5vw;
  height: 2vh;
  background-color: rgb(47,49,55);
  border: white 0.001em solid;
  color: white;
  border-radius: 5px;
}
#tweetButton:hover{
  background-color: white;
  border: white 0.001em solid;
  color: rgb(47,49,55);
  border-radius: 5px;
}

#messageTable{
  color:antiquewhite;  
  position:relative;
  top: 8vh;
  left:25vw;
  align-items: center;
  border-color: white;
  border-width: 0.001em;
  border-style: solid solid solid solid;
  width:50vw;
  border-collapse: collapse;
}

tr{
  border-color: white;
  border-width: 0.01em;
  border-style: solid solid solid solid;
}

#like-button{
  background-color: transparent;
  border: none;
}

#like-button:hover{
  background-color: white;
  border: none;
}

#like-icon{
  padding:0%;
}

#votingData{
  text-align: right;
  margin: none;
}