body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(128, 215, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,-50%);
}

#tweetInput {
  width:350px;
  height:100px;
  background-color:none;
}

.messages{
  position:absolute;
  top:32%;
  left:45%;
  align-items: center;
}
.form{
  display: flex;
  background-color: black;

  border-radius: 5px;
  justify-content: center;
  object-position: bottom;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  background-color: aliceblue;


}
.center {

}

