/* Bordered form */
h2{
  position:relative;
  left:25vw;
  height: 0.1vh;
  color:aliceblue;
  font-size: 3vmin;
}

.loginform {
    border: 1px solid #a5a5a5;
    position: relative;
    top:5vh;
    left:25vw;
    width:55vw;
  }
  
  /* Full-width inputs */
  .login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .loginbutton {
    background-color: #1671b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  .loginbutton:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .logincancelbtn {
    padding: 10px 18px;
    width: auto;
    background-color: #807f7e;
    justify-content: center;
  }
  /* Add padding to containers */
  .logincontainer {
    padding: 16px;
  }
  .logincontainer2{
      border: 1px solid #959595;
  }
  
  /* The "Forgot password" text */
  ul.psw {
    font-size: 14px;
    color: rgb(163, 163, 163);
    float: right;
    padding-top: 0px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 400px) {
    ul.psw {
      display: block;
      float: none;
      font-size:10px;
      padding-top:16px;
    }
    .signup{
        display:block;
        float:none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

.logintext{
    color:azure;
  }
#linksignup{
    text-decoration: none;
    color:rgb(100, 191, 44);
}
#linksignup:hover{
    color:rgb(127, 214, 255);
}
#linksignup:active{
    color:rgb(21, 86, 252);
}
.loginneedacc{
    color:blue;
}

.loginli {
    float: right; 
    clear: right; 
    list-style-type: none;
}