#profheader{
    color: white;
    border: 2px solid none;
}
#profdata{
    border: 2px solid #1671b2;
    border-radius: 15px;
    width: 40vw;
    margin: auto;
}

#profusername{
    /* border: 2px solid greenyellow; */
    text-align: center;
    vertical-align: top;
    font-size: 200%;
    font-family: "Trattoria","Lucida Handwriting", "Comic Sans", cursive;
    margin:0px;
}
#profusercontainer{
    /* border: 2px solid white; */
    width:50%;
    margin:0px;
}

#fdata{
    /* border: 1px solid hotpink; */
    width: 100%;
    text-align: center;
    padding: 10px;
}
#profnums{
    /* border: 2px solid rebeccapurple; */
    margin:0;
}
#profbio{
    /* border: 2px solid #2774ae; */
    padding: 10px;
}
#biodata{
    /* border: 2px solid aqua; */
    text-align: center;
}
hr{
    width: 75%;
    text-align: center;
}
.backHome{
    background-color: transparent;
    border: none;
    font-family:sans-serif;
    font-size: 200%;
    display:inline;
    color:white;
    transition: all 0.5s ease;
    transform: scale(1);
    margin:0.2%
}
.backHome:hover{
    color:#1671b2;
    cursor: pointer;
    transform: scale(1.25);
    filter: brightness(120%);  
}
#profform{
    /* border: 2px solid aquamarine; */
    display: inline;
}
#profuserfollow{
    width: 100%;
}
#proffbuttond{
    text-align: center;
}
#proffbutton{
    background-color: #1671b2;
    border: 1px solid rgb(47,49,55);
    border-radius: 3px;
    color: rgb(47,49,55);
    transition: all 0.5s ease;
    transform: scale(1);
}
#proffbutton:hover{
    cursor: pointer;
    transform: scale(1.25);
    filter: brightness(120%);  
}

#followers{
    font-size: large;
}


.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    display: inline;
  }
  
.dropdown {
position: relative;
display: inline-block;
position: relative;
padding-right: 8px;
padding-top: 8px;
/* border: 1px solid orange; */
}

.dropdown-content {
display: none;
position: absolute;
left:15%;
background-color: #f1f1f1;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

#intro{
    /* border: 1px solid mediumaquamarine; */
    font-size: 30px;
    display: inline;
    padding: 10px;
}
#commentbutton{
    float:right;
    vertical-align: right;
    transition: all 0.5s ease;
    transform: scale(1);
}